<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVpN1pWaMwAPW2XYqCEuohxCOyuNxhFiE</string>
	<key>GCM_SENDER_ID</key>
	<string>806341337510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeHub</string>
	<key>PROJECT_ID</key>
	<string>foodapp-c2836</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-c2836.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806341337510:ios:a4e740aa042a325c18ef67</string>
</dict>
</plist>